.sizeLabel {
  display: inline-block; 
  padding: 20px; 
  position: relative; 
  padding-left: 20px;
  width: 40px;
  box-sizing: border-box;
  margin-right: 10px;
  margin-bottom: 10px;
  color: grey;
}

.sizeLabel .sizeInput {
  display: none;
}

.sizeLabel .sizeSpan {
  border: 2px solid black;
  width: 40px; 
  height: 40px; 
  position: absolute;
  overflow: hidden; 
  line-height: 3; 
  text-align: center; 
  font-size: 10pt; 
  left: 0; 
  margin-top: -20px;
}

.sizeInput:checked + .sizeSpan {
  background: black; 
  border-color: white;
}

.photo {
  width: 40%;
  height: 10%;
}

.up {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.sizes {
  display: flex;
  flex-direction: column;
}

.shoes div {
  display: flex;
  justify-content: center;
}

.shDesc {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
}



