.category {
    width: 90%;
    height: 100px;
    background-color: rgb(53, 145, 53);
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.categories a {
    width: 100%;
    height: 100%;
}

.categoryName {
    font-size: 25px;
    font-weight: 900;
    color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
}